
.main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-height: 60vh;
  background-color: #FEFAE0;
}


#node-graph {
  width: 90vw;
}

.h1 {
  font-size: 1.5em;
  font-style: bold;
  margin-bottom: 1%;
}