.main {
  padding: 3rem;
  min-height: 100vh;
  background-color:#FEFAE0;
}

.formWrapper {
  margin: 5% auto;
  align-items: center;
  padding: 20px;
}

#datepicker {
  margin-bottom: 10px;
}
.entry {
  margin: 20px;
}
#body {
  font-size: 1.5rem;
  width: 50vw;
  height: 30vh;
  margin: 2% 0%;
  margin-top: 0;
  /* to make it full width of its container */
}

.submitButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
