.main {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-height: 100vh;
  background-color:#FEFAE0;
}

.formWrapper {
  margin: 0 auto;
  padding-top: 20px;
}

#body {
  font-size: 1.5rem;
  width: 50vw;
  height: 30vh;
  /* to make it full width of its container */
}

.label {
  font-size: 1.5rem;
}

.form {
  width: 100%;
  margin: auto;
}
