.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
    background-color: #DDA15E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  

  
  .nav .ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  
  .nav .li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px 15px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.6s ease-in-out;
  }
  
  .nav .li:not(:last-child)::after {
    content: '';
    height: 100%;
    background-color: #BC6C25;
  }
  
  .nav .a {
    color: #BC6C25;
    text-decoration: none;
    transition: color 0.6s ease-in-out;
  }
  
  .nav .li:hover {
    background-color: #BC6C25;
    transition-duration: 0.6s;
  }
  
  .nav .li:hover .a {
    color: #DDA15E;
  }
  
  .nav .li:focus .a {
    color: #DDA15E;
  }
  